In [4]:
import pandas as pd

In [10]:
#error_bad_lines=False ignora erros ao carregar o arquivo.
df = pd.read_csv("/content/drive/MyDrive/DIO.me/Cusro_Python_Pandas_Digital_Innovation-master/datasets/Gapminder.csv",error_bad_lines=False)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 665: expected 1 fields, saw 2\nSkipping line 666: expected 1 fields, saw 2\nSkipping line 667: expected 1 fields, saw 2\nSkipping line 668: expected 1 fields, saw 2\nSkipping line 669: expected 1 fields, saw 2\nSkipping line 670: expected 1 fields, saw 2\nSkipping line 671: expected 1 fields, saw 2\nSkipping line 672: expected 1 fields, saw 2\nSkipping line 673: expected 1 fields, saw 2\nSkipping line 674: expected 1 fields, saw 2\nSkipping line 675: expected 1 fields, saw 2\nSkipping line 676: expected 1 fields, saw 2\nSkipping line 677: expected 1 fields, saw 2\nSkipping line 678: expected 1 fields, saw 2\nSkipping line 679: expected 1 fields, saw 2\nSkipping line 680: expected 1 fields, saw 2\nSkipping line 681: expected 1 fields, saw 2\nSkipping line 682: expected 1 fields, saw 2\nSkipping line 683: expected 1 fields, saw 2\nSkipping line 684: expected 1 fields, saw 2\nSkipping line 685: expected 1 fields, saw 2\nSkipping line 686: expected 1 fields, saw 2\nSkipping line 687: expected 1 fields, saw 2\nSkipping line 688: expected 1 fields, saw 2\nSkipping line 1275: expected 1 fields, saw 2\nSkipping line 1276: expected 1 fields, saw 2\nSkipping line 1277: expected 1 fields, saw 2\nSkipping line 1278: expected 1 fields, saw 2\nSkipping line 1279: expected 1 fields, saw 2\nSkipping line 1280: expected 1 fields, saw 2\nSkipping line 1281: expected 1 fields, saw 2\nSkipping line 1282: expected 1 fields, saw 2\nSkipping line 1283: expected 1 fields, saw 2\nSkipping line 1284: expected 1 fields, saw 2\nSkipping line 1285: expected 1 fields, saw 2\nSkipping line 1286: expected 1 fields, saw 2\nSkipping line 1629: expected 1 fields, saw 2\nSkipping line 1630: expected 1 fields, saw 2\nSkipping line 1631: expected 1 fields, saw 2\nSkipping line 1632: expected 1 fields, saw 2\nSkipping line 1633: expected 1 fields, saw 2\nSkipping line 1634: expected 1 fields, saw 2\nSkipping line 1635: expected 1 fields, saw 2\nSkipping line 1636: expected 1 fields, saw 2\nSkipping line 1637: expected 1 fields, saw 2\nSkipping line 1638: expected 1 fields, saw 2\nSkipping line 1639: expected 1 fields, saw 2\nSkipping line 1640: expected 1 fields, saw 2\nSkipping line 1641: expected 1 fields, saw 2\nSkipping line 1642: expected 1 fields, saw 2\nSkipping line 1643: expected 1 fields, saw 2\nSkipping line 1644: expected 1 fields, saw 2\nSkipping line 1645: expected 1 fields, saw 2\nSkipping line 1646: expected 1 fields, saw 2\nSkipping line 1647: expected 1 fields, saw 2\nSkipping line 1648: expected 1 fields, saw 2\nSkipping line 1649: expected 1 fields, saw 2\nSkipping line 1650: expected 1 fields, saw 2\nSkipping line 1651: expected 1 fields, saw 2\nSkipping line 1652: expected 1 fields, saw 2\nSkipping line 1823: expected 1 fields, saw 2\nSkipping line 1824: expected 1 fields, saw 2\nSkipping line 1825: expected 1 fields, saw 2\nSkipping line 1826: expected 1 fields, saw 2\nSkipping line 1827: expected 1 fields, saw 2\nSkipping line 1828: expected 1 fields, saw 2\nSkipping line 1829: expected 1 fields, saw 2\nSkipping line 1830: expected 1 fields, saw 2\nSkipping line 1935: expected 1 fields, saw 2\nSkipping line 1936: expected 1 fields, saw 2\nSkipping line 1937: expected 1 fields, saw 2\nSkipping line 1938: expected 1 fields, saw 2\nSkipping line 1939: expected 1 fields, saw 2\nSkipping line 1940: expected 1 fields, saw 2\nSkipping line 1941: expected 1 fields, saw 2\nSkipping line 1942: expected 1 fields, saw 2\nSkipping line 3278: expected 1 fields, saw 2\nSkipping line 3279: expected 1 fields, saw 2\nSkipping line 3280: expected 1 fields, saw 2\nSkipping line 3281: expected 1 fields, saw 2\nSkipping line 3282: expected 1 fields, saw 2\nSkipping line 3283: expected 1 fields, saw 2\nSkipping line 3284: expected 1 fields, saw 2\nSkipping line 3285: expected 1 fields, saw 2\nSkipping line 3286: expected 1 fields, saw 2\nSkipping line 3287: expected 1 fields, saw 2\nSkipping line 3288: expected 1 fields, saw 2\nSkipping line 3289: expected 1 fields, saw 2\n'

In [11]:
#Imprime as 5 primeiras linhas do arquivo
df.head()

        country;continent;year;lifeExp;pop;gdpPercap
0   Afghanistan;Asia;1952;28.801;8425333;779.4453145
1   Afghanistan;Asia;1957;30.332;9240934;820.8530296
2  Afghanistan;Asia;1962;31.997;10267083;853.1007...
3   Afghanistan;Asia;1967;34.02;11537966;836.1971382
4  Afghanistan;Asia;1972;36.088;13079460;739.9811...

In [12]:
#Imprime as 5 ultimas linhas do arquivo
df.tail()

           country;continent;year;lifeExp;pop;gdpPercap
3219  Zimbabwe;Africa;1987;62.351000000000006;921641...
3220   Zimbabwe;Africa;1992;60.377;10704340;693.4207856
3221  Zimbabwe;Africa;1997;46.809;11404948;792.44996...
3222  Zimbabwe;Africa;2002;39.989;11926563;672.03862...
3223  Zimbabwe;Africa;2007;43.487;12311143;469.70929...

In [13]:
# sep= Por padrão o separador é ",", neste caso usamos o ";" como separador.
df = pd.read_csv("/content/drive/MyDrive/DIO.me/Cusro_Python_Pandas_Digital_Innovation-master/datasets/Gapminder.csv",error_bad_lines=False, sep=";")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [14]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [20]:
#Alterando nome das colunas no arquivo
df = df.rename(columns={"country":"País", "continent":"Continente", "year":"Ano", "lifeExp":"Exp de Vida", "pop":"Pop Total","gdpPercap":"PIB"})

In [21]:
#Informa o total de linhas e colunas
df.shape

(3312, 6)

In [22]:
df.columns

Index(['País', 'Continente', 'Ano', 'Exp de Vida', 'Pop Total', 'PIB'], dtype='object')

In [23]:
df.dtypes

País            object
Continente      object
Ano              int64
Exp de Vida    float64
Pop Total        int64
PIB            float64
dtype: object

In [25]:
df.describe()

               Ano  Exp de Vida     Pop Total            PIB
count  3312.000000  3312.000000  3.312000e+03    3312.000000
mean   1980.301630    65.246871  3.161489e+07   11317.115805
std      16.927294    11.768412  1.041193e+08   11369.142739
min    1950.000000    23.599000  5.941200e+04     241.165876
25%    1967.000000    58.337500  2.678572e+06    2514.625266
50%    1982.000000    69.610000  7.557218e+06    7838.505123
75%    1996.000000    73.657750  1.958522e+07   17357.879170
max    2007.000000    82.670000  1.318683e+09  113523.132900

In [26]:
df["Continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [27]:
#Fazendo filtro utilizando a coluna continente, filtrando Africa.
df.loc[df["Continente"] == "Africa"]

          País Continente   Ano  Exp de Vida  Pop Total          PIB
24     Algeria     Africa  1952       43.077    9279525  2449.008185
25     Algeria     Africa  1957       45.685   10270856  3013.976023
26     Algeria     Africa  1962       48.303   11000948  2550.816880
27     Algeria     Africa  1967       51.407   12760499  3246.991771
28     Algeria     Africa  1972       54.518   14760787  4182.663766
...        ...        ...   ...          ...        ...          ...
3307  Zimbabwe     Africa  1987       62.351    9216418   706.157306
3308  Zimbabwe     Africa  1992       60.377   10704340   693.420786
3309  Zimbabwe     Africa  1997       46.809   11404948   792.449960
3310  Zimbabwe     Africa  2002       39.989   11926563   672.038623
3311  Zimbabwe     Africa  2007       43.487   12311143   469.709298

[613 rows x 6 columns]

In [28]:
#Utilizando o nunique para fazer uma contagem de paises por continente.
df.groupby("Continente")["País"].nunique()

Continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: País, dtype: int64