In [2]:
import pandas as pd

In [4]:
#Lendo arquivos em excel
df1 = pd.read_excel("/content/drive/MyDrive/DIO.me/Cusro_Python_Pandas_Digital_Innovation-master/datasets/Aracaju.xlsx")
df2 = pd.read_excel("/content/drive/MyDrive/DIO.me/Cusro_Python_Pandas_Digital_Innovation-master/datasets/Fortaleza.xlsx")
df3 = pd.read_excel("/content/drive/MyDrive/DIO.me/Cusro_Python_Pandas_Digital_Innovation-master/datasets/Natal.xlsx")
df4 = pd.read_excel("/content/drive/MyDrive/DIO.me/Cusro_Python_Pandas_Digital_Innovation-master/datasets/Recife.xlsx")
df5 = pd.read_excel("/content/drive/MyDrive/DIO.me/Cusro_Python_Pandas_Digital_Innovation-master/datasets/Salvador.xlsx")

In [5]:
#Juntando os arquivos
df = pd.concat([df1, df2, df3, df4, df5])

In [9]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [10]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [11]:
#Alterando o tipo de dado de uma coluna
df["LojaID"] = df["LojaID"].astype("object")

In [12]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [13]:
#Veriifcando linhas em branco
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [14]:
#Criando coluna, no exemplo foi criado a coluna Receita
df["Receita"] = df["Vendas"].mul(df["Qtde"])

In [15]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

In [16]:
#Utilizando o nlargest para retornar, no exemplo o TOP 3 das receitas no arquivo.
df.nlargest(3,"Receita")

   Cidade       Data  Vendas LojaID  Qtde  Receita
7   Natal 2019-03-18   886.0    853     4   3544.0
51  Natal 2018-01-21   859.0    852     4   3436.0
55  Natal 2019-01-08   859.0    854     4   3436.0

In [17]:
df.nsmallest(3, "Receita")

      Cidade       Data  Vendas LojaID  Qtde  Receita
118  Aracaju 2018-01-01    3.34   1522     1     3.34
65    Recife 2019-01-01    4.01    981     1     4.01
92     Natal 2019-01-02    4.57   1035     1     4.57

In [18]:
#Agrupamento por cidade
df.groupby("Cidade")["Receita"].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [19]:
#Ordenando um conjunto de dados.
df.sort_values("Receita", ascending=False).head(20)

   Cidade       Data  Vendas LojaID  Qtde  Receita
7   Natal 2019-03-18   886.0    853     4   3544.0
55  Natal 2019-01-08   859.0    854     4   3436.0
51  Natal 2018-01-21   859.0    852     4   3436.0
30  Natal 2018-10-02   856.0    853     4   3424.0
41  Natal 2018-05-20   835.0    852     4   3340.0
38  Natal 2018-02-25   828.0    852     4   3312.0
10  Natal 2018-10-27   828.0    852     4   3312.0
69  Natal 2019-03-24   817.0    852     4   3268.0
62  Natal 2018-02-10   793.0    854     4   3172.0
52  Natal 2018-04-27   778.0    854     4   3112.0
70  Natal 2019-02-14   743.0    854     4   2972.0
56  Natal 2018-03-02   704.0    852     4   2816.0
64  Natal 2019-02-22   704.0    853     4   2816.0
48  Natal 2018-09-20   676.0    852     4   2704.0
8   Natal 2019-03-27   667.0    852     4   2668.0
40  Natal 2018-01-10   885.0    853     3   2655.0
24  Natal 2018-04-22   868.0    854     3   2604.0
82  Natal 2019-03-07   868.0    854     3   2604.0
71  Natal 2019-03-20   840.0    854     3   2520.0
72  Natal 2018-05-02   612.0    854     4   2448.0

In [20]:
#Alterando a coluna Data para o tipo inteiro
df["Data"] = df["Data"].astype("int64")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.

In [22]:
df.dtypes

Cidade      object
Data         int64
Vendas     float64
LojaID      object
Qtde         int64
Receita    float64
dtype: object

In [23]:
#Transformando a culuna Data para o formato data
df["Data"] = pd.to_datetime(df["Data"])

In [24]:
df.dtypes

Cidade             object
Data       datetime64[ns]
Vendas            float64
LojaID             object
Qtde                int64
Receita           float64
dtype: object

In [25]:
#Realizando agrupamento da Receita por ano
df.groupby(df["Data"].dt.year)["Receita"].sum()

Data
2018    118176.53
2019    228246.45
Name: Receita, dtype: float64

In [26]:
#Criando as Colunas Ano_Venda , Mes_venda, Dia_Venda extraindo esses valores da coluna Data.
df["Ano_Venda"], df["Mes_Venda"], df["Dia_Venda"] = (df["Data"].dt.year, df["Data"].dt.month, df["Data"].dt.day)

In [27]:
df.sample(10)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Ano_Venda,Mes_Venda,Dia_Venda
232,Salvador,2019-01-03,167.76,1034,3,503.28,2019,1,3
228,Natal,2019-01-02,6.87,1037,3,20.61,2019,1,2
70,Recife,2019-01-01,20.40,983,7,142.80,2019,1,1
20,Aracaju,2018-01-01,39.86,1522,9,358.74,2018,1,1
140,Natal,2019-01-02,20.79,1036,2,41.58,2019,1,2
72,Recife,2019-01-01,42.32,982,2,84.64,2019,1,1
37,Fortaleza,2019-01-01,35.86,1002,6,215.16,2019,1,1
114,Aracaju,2018-01-01,10.17,1520,5,50.85,2018,1,1
12,Natal,2019-02-02,709.00,853,3,2127.00,2019,2,2
15,Natal,2018-02-01,432.00,854,3,1296.00,2018,2,1

In [28]:
#Filtrando vendas do ano de 2019 do mês de Março
vendas_marco_2019 = df.loc[(df["Data"].dt.year == 2019) & (df["Data"].dt.month == 3)]

In [33]:
vendas_marco_2019

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Ano_Venda,Mes_Venda,Dia_Venda
108,Fortaleza,2019-03-02,152.89,981,4,611.56,2019,3,2
109,Fortaleza,2019-03-02,18.90,982,6,113.40,2019,3,2
110,Fortaleza,2019-03-02,51.98,983,6,311.88,2019,3,2
111,Fortaleza,2019-03-02,8.00,981,3,24.00,2019,3,2
112,Fortaleza,2019-03-02,133.59,982,1,133.59,2019,3,2
...,...,...,...,...,...,...,...,...,...
137,Salvador,2019-03-02,51.66,1036,3,154.98,2019,3,2
138,Salvador,2019-03-02,212.03,1037,3,636.09,2019,3,2
139,Salvador,2019-03-02,169.01,1036,1,169.01,2019,3,2
140,Salvador,2019-03-02,20.79,1036,2,41.58,2019,3,2
141,Salvador,2019-03-02,9.08,1036,1,9.08,2019,3,2